/* =Comments
-------------------------------------------------------------- */

ol.commentlist {
    @include font-size($secondary-text,$secondary-leading);
	list-style: none;
	margin: 0 0 1em;
	padding: 0;
	text-indent: 0;
}
ol.commentlist li {
}
ol.commentlist li .comment-body {
  border-bottom: 1px solid #3C4D56;
  margin: 0 0 2.5rem;
  padding: 0 0 1.25rem;
}

.author-avatar {float:left;}

.comment-block {
  float: left;
  margin: 0 0 0 1.25rem;
}

.comment-meta {
    @include font-size(15,15);
  font-weight: 600;
}

ol.commentlist li.alt {
}
ol.commentlist li.bypostauthor {
}
ol.commentlist li.byuser {
}
ol.commentlist li.comment-author-admin {
}
ol.commentlist li.comment {
}
ol.commentlist li.comment div.comment-author {
}
ol.commentlist li.comment div.vcard {
}
ol.commentlist li.comment div.vcard cite.fn {
}
ol.commentlist li.comment div.vcard cite.fn a.url {
}
ol.commentlist li.comment div.vcard img.avatar {
}
ol.commentlist li.comment div.vcard img.avatar-32 {
}
ol.commentlist li.comment div.vcard img.photo {
}
ol.commentlist li.comment div.vcard span.says {
}
ol.commentlist li.comment div.commentmetadata {
}
ol.commentlist li.comment div.comment-meta {
}
ol.commentlist li.comment div.comment-meta a {
}
ol.commentlist li.comment p {
}
ol.commentlist li.comment ul {
	list-style: square;
	margin: 0 0 1em 2em;
}
ol.commentlist li.comment div.reply {
}
ol.commentlist li.comment div.reply a {
}
ol.commentlist li.comment ul.children {
  list-style: none;
  margin: 0 0 0 2.5rem;
  padding: 0;
  text-indent: 0;
}
ol.commentlist li.comment ul.children li {
}
ol.commentlist li.comment ul.children li.alt {
}
ol.commentlist li.comment ul.children li.bypostauthor {
}
ol.commentlist li.comment ul.children li.byuser {
}
ol.commentlist li.comment ul.children li.comment {
}
ol.commentlist li.comment ul.children li.comment-author-admin {
}
ol.commentlist li.comment ul.children li.depth-2 {
}
ol.commentlist li.comment ul.children li.depth-3 {
}
ol.commentlist li.comment ul.children li.depth-4 {
}
ol.commentlist li.comment ul.children li.depth-5 {
}
ol.commentlist li.comment ul.children li.odd {
}
ol.commentlist li.even {
}
ol.commentlist li.odd {
}
ol.commentlist li.parent {
}
ol.commentlist li.thread-alt {
}
ol.commentlist li.thread-even {
}
ol.commentlist li.thread-odd {
}

