/* =jPanel
-------------------------------------------------------------- */

#menu {
	display: none;
}
a.menu-trigger {
    @include font-size(34);
	border: 7px solid $brand-color1;
	display: block;
	font-weight: 700;
	padding: 9px 17px;
	text-transform: uppercase;
	width: 260px;
    transition: all 0.4s;
	min-height: 72px;
}

a.menu-trigger:visited { color: $brand-color1; }

a.menu-trigger:hover {
      border-color: $brand-color3;
}

a.menu-trigger:focus {
	outline: none;
}
body[data-menu-position="open"] .menu-trigger {
}
.jPanelMenu, body {
	overflow-x: hidden;
}
#jPanelMenu-menu {
	display: block;
	height: 100%;
	left: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	position: fixed;
	top: 0;
	z-index: -1;
	padding: 36px 0;
	margin: 0;
    background: #3C4D56;
}
.jPanelMenu-panel {
	background: none repeat scroll 0 0 #F4F0EB;
	left: 0;
	min-height: 100%;
	position: static;
	top: 0;
	width: 100%;
	z-index: 2;
	padding: 18px 0;
}
.jPM-specific {
	display: none
}
#trigger-on {
	background: #3684ab;
	background: -o-linear-gradient(top, #3f94bf, #2d7498);
	background: -ms-linear-gradient(top, #3f94bf, #2d7498);
	background: -moz-linear-gradient(top, #3f94bf, #2d7498);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3f94bf), color-stop(1, #2d7498));
	background: -webkit-linear-gradient(#3f94bf, #2d7498);
	background: linear-gradient(top, #3f94bf, #2d7498);
	-moz-box-shadow: 0 1px 10px #222;
	-webkit-box-shadow: 0 1px 10px #222;
	box-shadow: 0 1px 10px #222;
	display: block;
	position: fixed;
	top: 0;
	right: 7.5%;
	padding: 0.25em 1em;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #1b5572;
	border-top: none;
	text-decoration: none;
	text-shadow: 0 -1px 1px #222;
	color: #f7f7f7
}

#jPanelMenu-menu ul {
	border-bottom: 1px solid #484848;
	list-style-type: none;
}
#jPanelMenu-menu li a {
	border: 7px solid #FFFFFF;
	color: #F7F7F7;
	display: block;
	font-weight: 600;
	height: 72px;
	letter-spacing: 0.05rem;
	margin: 0 13% 18px;
	padding: 9px 17px;
	text-decoration: none;
	text-transform: uppercase;
}

#jPanelMenu-menu li a:hover, #jPanelMenu-menu li a:focus {
  border: 7px solid #FEC34D;
  color: #FEC34D;
}
#jPanelMenu-menu li a:active {
  box-shadow: 3px 4px 9px #222222 inset;
  text-shadow: 1px 2px 3px #222222;
}