/* Responsive ---------------------------- */

@media screen and (max-width: 480px) {

}

@media screen and (min-width: 600px) {
	.home-logo:link {
		background: url(images/sparetype_logo.svg) 0 0 no-repeat;
		width: 200px;
	}
	#footer {
		padding: 36px 72px;
	}
}

@media screen and (min-width: 850px) {

#navigation {
}

#navigation > li {
}
	
.loop-content {
	column-count: 2;
	max-width: 960px;
}

}

@media screen and (min-width: 1040px) {
	
article:first-child {
}

#footer {
	column-count: 2;
}

}