/* Responsive ---------------------------- */

@media screen and (max-width: 480px) {
.page-content {
    margin: 166px 0 0;
	background-color: $brand-color4;
	padding:0 36px;
	border: none;
}
}

@media screen and (min-width: 700px) {

.single-content {
    margin: 184px 72px 0;
	background-color: $brand-color4;
border: 2px solid $brand-color1;
	padding:36px;
}
}

@media screen and (min-width: 520px) {
	.home-logo:link {
	background: url(images/sparetype_logo.svg) 0 0 no-repeat;
		width:200px;
		  margin: 27px 72px;
}
}

@media screen and (min-width: 850px) {

#navigation {
}

#navigation > li {
}
	
.loop-content {
-moz-column-count: 2;
-webkit-column-count: 2;
column-count: 2;
	max-width:800px;
}

.project-content {
  margin: 160px 0;
  padding: 0 8%;
}

}

@media screen and (min-width: 1040px) {
	
	.page-content {
  max-width: 700px;
}

.single-content {
  max-width: 700px;
}
	
article:first-child {
}
	#footer {
	-moz-column-count: 2;
-webkit-column-count: 2;
column-count: 2;
}
}