.searchform {
  color: $brand-color1;
}
.searchform .textbox {
width: 100%;
margin: 0;
padding: 0 5px;}

.searchform #s {
  margin: 0 0 0.75rem;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  width: 50%;
}

.searchform #searchsubmit {
width: 50%;
margin: 0;
padding: 0;
}