/* =Structure
-------------------------------------------------------------- */
* {
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html {
	overflow-y: scroll;
}
body {
}
#navigation {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  list-style: none outside none;
  padding: 36px 0;
  z-index: 10;
  position: fixed;
  width: 100%;
  border-top: 2px solid $brand-color1;
  border-bottom: 2px solid $brand-color1;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
}

#navigation > li {
  margin: 0 0 0 72px;
  background: none repeat scroll 0 0 #FFFFFF;
}

#searchform {
}
#searchform .textbox {
width: 100%;
margin: 0;
padding: 0 5px;}

#searchform #s {
  margin: 0 0 0.75rem;
  width: 50%;
}

#searchform #searchsubmit {
width: 50%;
margin: 0;
padding: 0;
}

.homepage-content {
  
}

.homepage-content,
.loop-content {
margin: 180px auto;
-moz-column-count: 1;
-moz-column-gap: 72px;
-webkit-column-count: 1;
-webkit-column-gap: 72px;
column-count: 1;
column-gap: 72px;
}

.homepage-content article,
.loop-content article {
        display: inline-block;
        margin-bottom: 72px;
        width: 100%;
	background-color: $brand-color4;
	border: 2px solid $brand-color1;

}

.homepage-content section,
.loop-content section {
padding:36px;}

.page-content {
  width: 75%;
    margin: 184px 72px 0 72px;
	background-color: $brand-color4;
border: 2px solid $brand-color1;
	padding:36px;
}

.single-content {
  width: 75%;
    margin: 184px auto 0;
	background-color: $brand-color4;
border: 2px solid $brand-color1;
	padding:36px;
}

.single-content article {
    margin: 0 0 3rem;
}

blockquote.hiring {
  background-color: $brand-color3;
  font-weight: 600;
  margin: 0 0 2.5rem;
  padding: 1.25rem 3rem;
  color: $brand-color4;
}

blockquote.hiring > p {
  margin: 0;
}

blockquote.hiring > h3 {
  margin: 0 0 1.25rem;
}

body.blog #content {
	max-width: 720px;
}
#footer {
  background: $brand-color1;
  z-index: 3;
  width: 100%;
  border-top: 9px solid $brand-color3;
	-moz-column-count: 1;
-moz-column-gap: 72px;
-webkit-column-count: 1;
-webkit-column-gap: 72px;
column-count: 1;
column-gap: 72px;
	color: #FFFFFF;
    margin: 72px 0 0;
    padding: 36px 72px;
}
#footer .sidebar {display:inline-block; width:100%; margin: 0 0 72px;
}
article {

}
.clear {
	clear: both;
	display: block;
}