/* =Structure
-------------------------------------------------------------- */
* {
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html {
	overflow-y: scroll;
}
body {
}
#navigation {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  list-style: none outside none;
  margin: 0 auto;
  max-width: 260px;
  padding: 0;
  z-index: 10;
}

#navigation > li {
  margin: 0 0 18px;
}

#searchform {
	border: 7px solid $brand-color1;
	padding: 9px 17px;
    width: 260px;
	min-height: 72px;
}
#searchform .textbox {
	width: 75%;
}

.homepage-content {
  
}

.homepage-intro {
    margin: 36px auto 0;
    width: 75%;
}

.frontpage-recent-posts {
  background-color: $brand-color1;
  color: $brand-color2;
  padding: 54px 8%;
  margin: 90px 0 0;
}

.frontpage-recent-posts h2 {
  margin: 0 0 54px 0;
  text-align: center;
}

.frontpage-recent-projects {
  background-color: $brand-color3;
  color: $brand-color4;
  padding: 54px 8%;
  margin: 90px 0 0;
}

.frontpage-recent-projects h2 {
  margin: 0 0 54px 0;
  text-align: center;
}

.page-content,
.loop-content,
.single-content {
  width: 75%;
  margin: 0 auto;
}

.loop-content article {
  border-bottom: 2px dashed $brand-color2;
  margin: 0 0 3rem;
  padding: 0 0 3rem;
}

.single-content article {
    margin: 0 0 3rem;
}

blockquote.hiring {
  background-color: $brand-color3;
  font-weight: 600;
  margin: 0 0 2.5rem;
  padding: 1.25rem 3rem;
  color: $brand-color4;
}

blockquote.hiring > p {
  margin: 0;
}

blockquote.hiring > h3 {
  margin: 0 0 1.25rem;
}

body.blog #content {
	max-width: 720px;
}
#footer {
}
article {

}
.clear {
	clear: both;
	display: block;
}