/* =Typography
-------------------------------------------------------------- */
html {
	font-size: 100%;
}
body {
	@include fluid-font-size($body-copy-min, $body-copy-max, $primary-leading);
	color: $brand-color1;
	font-family: 'Source Sans Pro', sans-serif;
	word-break: break-word;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
h1 {
	@include fluid-font-size($h1-min, $h1-max, $header-leading);
}
h2 {
	@include fluid-font-size($h2-min, $h2-max, $header-leading);
}
h3 {
	@include fluid-font-size($h3-min, $h3-max, $header-leading);
}
h4 {
	@include fluid-font-size($h4-min, $h4-max, $header-leading);
}
h5 {
	@include fluid-font-size($h5-min, $h5-max, $header-leading);
}
h6 {
	@include fluid-font-size($h6-min, $h6-max, $header-leading);
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1.25rem 0;
}
h1, h2, h3, h4 {
	font-weight: 900;
}
h5, h6 {
	font-weight: 600;
}
h1 {
}
h2 {
}
h3 {
}
h4, h5, h6 {
	letter-spacing: 1.25px;
}
h4 {
	text-transform: uppercase;
}
h5 {
	text-transform: uppercase;
}
h6 {
}
p {
	margin: 0 0 1.25rem;
	max-width: 66ch;
}
strong {
}
em {
}
pre {
	@include fluid-font-size($secondary-min, $secondary-max, $primary-leading);
    overflow-x: auto;
    padding: 1rem 1rem 1rem 2rem;
    white-space: pre;
}
blockquote {
	border-left: 2px solid $brand-color1;
	margin: 0 0 1.25rem;
	padding: 18px;
	background-color: $brand-color5;
}
::-moz-selection {
  background-color: scale-color($brand-color3, $lightness: 50%,);
}
::selection {
  background-color: scale-color($brand-color3, $lightness: 50%,);
}
#navigation {
}
#content {
}
#footer {
}

.date-posted,
.cat-links,
.tag-links,{
	@include fluid-font-size($secondary-min, $secondary-max, $primary-leading);
	margin: 0;
	font-weight: 600;
	text-transform: lowercase;
}
.date-posted {
	text-transform: uppercase;
}
.form-allowed-tags {
	@include fluid-font-size($secondary-min, $secondary-max, $primary-leading);
}
.screen-reader-text {
	display: none;
}



/* =Links
-------------------------------------------------------------- */

a:link {
//	border-bottom: 1px dotted;
//	padding-bottom: 1px;
    color: $brand-color1;
	text-decoration-color: currentColor;
    text-decoration-thickness: .1ex;
	text-underline-offset: .25ex;
    transition: all 0.4s;
}
a:visited {
	color: $visited-link;
}
a:hover {
	color: $brand-color3;
    transition: all 0.4s;
}
a:active {
	color: $active-link;
}
a:focus {
}
.single-content .entry-title > a {
	text-decoration: none;
}

#footer a:link {
	color: $brand-color4;
	text-decoration-color: currentColor;
    text-decoration-thickness: .1ex;
	text-underline-offset: .25ex;
    transition: all 0.4s;
}
#footer a:visited {
	color: $brand-color4;
}
#footer a:hover {
	color: $brand-color3;
    transition: all 0.4s;
}
#footer a:active {
	color: $active-link;
}


/* =Images inside links
-------------------------------------------------------------- */


/* For Link Indication plugin
-------------------------------------------------------------- */
// a.link_external { padding-right: 15px; background: url(images/link-icon_external.gif) no-repeat right; }
a.link_wikipedia { padding-right: 13px; background: url(images/link-icon_wikipedia.gif) no-repeat right; }
a.link_wp { padding-right: 16px; background: url(images/link-icon_wordpress.png) no-repeat right; }
a.link_ftp { padding-right: 13px; background: url(images/link-icon_ftp.png) no-repeat right; }
a.link_mailto { padding-right: 18px; background: url(images/link-icon_mail.gif) no-repeat right; }
a.link_pdf { padding-right: 15px; background: url(images/link-icon_pdf.png) no-repeat right;  }
a.link_zip { padding-right: 15px; background: url(images/link-icon_zip.png) no-repeat right;  }