/* =Typography
-------------------------------------------------------------- */

// =Variables for typography expressed in pixels

$primary-text: 18;
$primary-leading: 1.618;
$scaler: 1.618;

$subhead-text: ($primary-text * $scaler);
$headline-text: ($subhead-text * $scaler);
$title-text: ($headline-text * $scaler);
$header-leading: 1.1;

$secondary-text: 17;
$title-leading: 60;
$headline-leading: 44;
$secondary-leading: 27;

// =Font size and line height mixin for pixels and rems

@mixin font-size($fontsize: $primary-text, $lineheight: $primary-leading) {
  font-size: $fontsize + px;
  font-size: ($fontsize / 16) + rem;
// font-size: calc(#{$fontsize * .88 + px} + (#{$fontsize * 1.16} - #{$fontsize * .88}) * ((100vw - 1px) / (850 - 1)));
// font-size: clamp(#{$fontsize * .88 + px}, 1rem + 2vw, #{$fontsize * 1.16 + px});
  line-height: $lineheight;
}

html {
	font-size: 100%;
}
body {
	color: $brand-color1;
	font-family: 'Source Sans Pro', sans-serif;
	word-break: break-word;
	word-wrap: break-word;
	overflow-wrap: break-word;
    line-height: $primary-leading;
}
h1, h2, h3, h4, h5, h6 {
	line-height: $header-leading;
	margin: 0 0 1.25rem 0;
}
h1, h2, h3, h4 {
	font-weight: 900;
}
h5, h6 {
	font-weight: 600;
}
h1 {
}
h2 {
}
h3 {
}
h4, h5, h6 {
	letter-spacing: 1.25px;
}
h4 {
	text-transform: uppercase;
}
h5 {
	text-transform: uppercase;
}
h6 {
}
p {
	margin: 0 0 1.25rem;
}
strong {
}
em {
}
pre {
    @include font-size($secondary-text,$primary-leading);
    overflow-x: auto;
    padding: 1rem 1rem 1rem 2rem;
    white-space: pre;
}
blockquote {
	border-left: 2px solid $brand-color1;
	margin: 0 0 1.25rem;
	padding: 18px;
	background-color: $brand-color5;
}
#navigation {
}
#content {
}
#footer {
}

.date-posted,
.cat-links,
.tag-links,{
    @include font-size($secondary-text,$primary-leading);
	margin: 0;
	font-weight: 600;
	text-transform: lowercase;
}
.date-posted {
	text-transform: uppercase;
}
.form-allowed-tags {
    @include font-size($secondary-text,$primary-leading);
}
.screen-reader-text {
	display: none;
}



/* =Links
-------------------------------------------------------------- */

a:link {
//	border-bottom: 1px dotted;
//	padding-bottom: 1px;
    color: $brand-color1;
	text-decoration-color: currentColor;
    text-decoration-thickness: .1ex;
	text-underline-offset: .25ex;
    transition: all 0.4s;
}
a:visited {
	color: $visited-link;
}
a:hover {
	color: $brand-color3;
    transition: all 0.4s;
}
a:active {
	color: $active-link;
}
a:focus {
}
.single-content .entry-title > a {
	text-decoration: none;
}

.home-logo:link {
  border: 0;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  margin: 27px 36px;
  padding: 0;
  width: 55px;
  height: 55px;
  background: url(images/sparetype_logo_square.svg) 0 0 no-repeat;
}

#footer a:link {
	color: $brand-color4;
	text-decoration-color: currentColor;
    text-decoration-thickness: .1ex;
	text-underline-offset: .25ex;
    transition: all 0.4s;
}
#footer a:visited {
	color: $brand-color4;
}
#footer a:hover {
	color: $brand-color3;
    transition: all 0.4s;
}
#footer a:active {
	color: $active-link;
}


/* =Images inside links
-------------------------------------------------------------- */


/* For Link Indication plugin
-------------------------------------------------------------- */
// a.link_external { padding-right: 15px; background: url(images/link-icon_external.gif) no-repeat right; }
a.link_wikipedia { padding-right: 13px; background: url(images/link-icon_wikipedia.gif) no-repeat right; }
a.link_wp { padding-right: 16px; background: url(images/link-icon_wordpress.png) no-repeat right; }
a.link_ftp { padding-right: 13px; background: url(images/link-icon_ftp.png) no-repeat right; }
a.link_mailto { padding-right: 18px; background: url(images/link-icon_mail.gif) no-repeat right; }
a.link_pdf { padding-right: 15px; background: url(images/link-icon_pdf.png) no-repeat right;  }
a.link_zip { padding-right: 15px; background: url(images/link-icon_zip.png) no-repeat right;  }