
/* =Typography
-------------------------------------------------------------- */

// =Variables for typography expressed in pixels

$title-text: 58;
$headline-text: 36;
$subhead-text: 28;
$primary-text: 22;
$secondary-text: 17;
$title-leading: 60;
$headline-leading: 44;
$primary-leading: 36;
$secondary-leading: 27;


// =Font size and line height mixin for pixels and rems

@mixin font-size($fontsize: $primary-text, $lineheight: $primary-leading) {
  font-size: $fontsize + px;
  font-size: ($fontsize / 16) + rem;
  line-height: $lineheight + px ;
  line-height: ($lineheight /16) + rem ;
}


html {
	font-size: 100%;
}
body {
    @include font-size($primary-text,$primary-leading);
    color: $brand-color1;
	font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
}
h1 {
	@include font-size($title-text,$title-leading);
	margin: 0 0 1.25rem;
}
h2 {
	@include font-size($headline-text,$headline-leading);
	margin: 0 0 1.25rem 0;
}
h3 {
	margin: 0 0 1.25rem 0;
}
h4 {
}
h5 {
	margin: 0;
}
h6 {
}
p {
	margin: 0 0 1.25rem;
}
strong {
}
em {
}
pre {
    @include font-size($secondary-text,$secondary-leading);
    overflow-x: auto;
    padding: 1rem 1rem 1rem 2rem;
    white-space: pre;
}
#navigation {
}
#content {
}
#footer {
}

.date-posted,
.cat-links,
.tag-links,{
    @include font-size($secondary-text,$secondary-leading);
	margin: 0;
	font-weight: 600;
	text-transform: lowercase;
}
.date-posted {
	text-transform: uppercase;
}
.form-allowed-tags {
        @include font-size($secondary-text,$secondary-leading);
}
.screen-reader-text {
  display: none;
}



/* =Links
-------------------------------------------------------------- */

a:link {
	border-bottom: 1px dotted;
	color: $brand-color1;
	padding-bottom: 1px;
	text-decoration: none;
    transition: all 0.4s;
}
a:visited {
	color: $brand-color1;
}
a:hover {
	color: $brand-color3;
    transition: all 0.4s;
}
a:active {
}
.entry-title > a {
	border: medium none;
}

.home-logo:link {
  border: 0;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  margin: 27px 36px;
  padding: 0;
  width: 55px;
	height: 55px;
	background: url(images/sparetype_logo_square.svg) 0 0 no-repeat;
}

#footer a:link {
	border-bottom: 1px dotted;
	color: $brand-color4;
	padding-bottom: 1px;
	text-decoration: none;
    transition: all 0.4s;
}
#footer a:visited {
	color: $brand-color4;
}
#footer a:hover {
	color: $brand-color3;
    transition: all 0.4s;
}
#footer a:active {
}


/* =Images inside links
-------------------------------------------------------------- */
.project-content a img,
.page-content a img,
.loop-content a img,
.single-content a img, {
  position: relative;
  top: 10px;
}


/* For Link Indication plugin
-------------------------------------------------------------- */
a.link_external { padding-right: 15px; background: url(images/link-icon_external.gif) no-repeat right; }
a.link_wikipedia { padding-right: 13px; background: url(images/link-icon_wikipedia.gif) no-repeat right; }
a.link_wp { padding-right: 16px; background: url(images/link-icon_wordpress.png) no-repeat right; }
a.link_ftp { padding-right: 13px; background: url(images/link-icon_ftp.png) no-repeat right; }
a.link_mailto { padding-right: 18px; background: url(images/link-icon_mail.gif) no-repeat right; }
a.link_pdf { padding-right: 15px; background: url(images/link-icon_pdf.png) no-repeat right;  }
a.link_zip { padding-right: 15px; background: url(images/link-icon_zip.png) no-repeat right;  }